header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img1{
    width: 200px;
    
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
ul li a:hover{
        color: rgb(137, 243, 208);
}
    li a {
        color:grey;
        text-decoration: none;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img2{
         width: 50px;
        height: 50px;
    }
    .title{
        color: rgb(17, 172, 125);
    }
    .section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .s1div1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 70%;
        
    }
    .s1div2 .p1{
        font-size: 20px;
        color: grey;
    }
    .s1div3 .p2{
        font-size: 20px;
        color: grey;
    }
   .section2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70%;
    gap: 20px;
   }
    
   .s2div1{
    width: 50%;
    height: 10%;
    background-color:rgb(90, 248, 182);
    color: azure;
    text-align: center;
    padding: 70px;
    font-size: x-large;
    border-radius: 20px;
   }
   .s2div2{
    width: 50%; 
    height: 10%;
    background-color:rgb(58, 150, 180);
    color: azure;
    text-align: center;
    padding: 70px;
    font-size: x-large;
    position: relative;
    border-radius: 20px;
   }
   .s2div3{
    width: 50%;
    height: 10%;
    background-color:rgb(2, 8, 10);
    color: azure;
    text-align: center;
    padding: 70px;
    font-size: x-large;
    position: relative;
    border-radius: 20px;
   }
   .s2div1 .select1{
    width: 100%;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 4px;
  }
  .s2div2 .select2{
    width: 100%;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 4px;
  }
  .s2div3 .select3{
    width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  }
  .section3{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(192, 237, 240);
   height: 150%;
   
}
.s3div1{
    display: flex;
    flex-direction: column;
   align-items: center;
}
 .s3h1  {
    color: green;
 }
 .img3{
    display: flex;
    width: 115%;
    height: 115%;
 }

 .s3div2{
    display: flex;
    gap: 20px;
   justify-content: center;
   padding: 20px;
}

 .top1 {
    
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 30px;
   gap: 20px;
 }
 .top2{
    
    width: 35%;
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
   gap: 20px;

 }
.d2div1{
    display: flex;
    flex-direction: column; 
   background-color: azure;
   width: 70%;
   height: 220px;
   padding: 15px;
   border-radius: 8px;
   

}
.section4{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.s4div1{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.s4p{
    width: 50%;
    color: grey;

}
.s4h1{
    width: 40%;
    color: green;
}
.s4div2{
    display: flex;
    flex-direction:column;
    width: 250px;
}
.style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    border: none;
    background-color: rgb(60, 127, 252);
    color: white;
    padding: 10px 10px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    font-size: 10px;
    margin: 10px 10px;
    height: 30px;
    
  }
  .s4h3{
    color: gray;
  }

.container_img{
    width: 70%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 60px;
padding-top: 20px;

}
.b1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.db1{
    border: none;
    background-color: rgb(60, 127, 252);
    color: white;
    padding: 10px 10px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    font-size: 15px;
    margin: 15px 15px;
    height: 40px;

}


   
   
